<!DOCTYPE html>
<html>
<head>
    <title>Get User Location</title>
</head>
<body>

    <!-- test form to get location -->
    <form method="POST" action="javascript:getLocation()">
        <input type="text" placeholder="Name" name="name">
    </form>
    <button onclick="getLocation()">Get My Location</button>
    <p id="location"></p>

    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(sendLocation, showError);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function sendLocation(position) {
            let lat = position.coords.latitude;
            let lon = position.coords.longitude;
            
            fetch('/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ latitude: lat, longitude: lon })
            })
            .then(response => response.json());
            // .then(data => {
            //     document.getElementById("location").innerText = `Location saved: ${lat}, ${lon}`;
            // });
        }

        function showError(error) {
            alert("Error getting location: " + error.message);
        }
    </script>
</body>
</html>